#toast {
    visibility: hidden;
    min-width: 250px;
    max-width: 300px;
    margin-left: -125px;
    background-color: #FF8000;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 404px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.6s;
    animation: fadein 0.5s, fadeout 0.5s 2.6s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 404px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 404px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 404px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 404px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

body {
    --sb-track-color: #eae4e3;
    --sb-thumb-color: #ff8000;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 0;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@media (max-width: 840px) {
    #toast {
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        margin-left: 0;
        z-index: 1000;
    }

    @-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 40px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 40px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            top: 40px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            top: 40px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
}