.empty_cart{
    height: 324px;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty_cart img{
    height: 144px;
    width: auto;
    object-fit: cover;
}

